%h1.text-center.text-2xl.font-bold.my-4 商品一覧

.mx-8.grid.grid-cols-3.gap-4.mb-4.mt-4
  - @products.each do |product|
    .border-4.flex.justify-center
      .product-item.w-100.mx-auto
        - if product.image.attached?
          = image_tag product.image, class: 'product-image'
        - else
          = image_tag 'default_image.jpg', class: 'product-image', size: '330x219'
        %p.product-name.mt-2.font-bold.text-center= product.name
        %p.product-name.mt-2.font-bold.text-center= number_to_currency(product.price)
