%h1.text-center.text-2xl.font-bold.my-4 商品編集
.mb-4
  = admin_top_page
  = link_to '戻る', admin_product_path(@product), class: 'bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l ml-2'
= render 'admin/products/form', product: @product, text: '変更する'
